<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/eas</property>
  <property name="hibernate.connection.username">easadmin</property>
  <property name="hibernate.connection.password">abcdefg</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping resource="model/admin.hbm.xml"/>
  <mapping resource="model/college.hbm.xml"/>
  <mapping resource="model/expert.hbm.xml"/>
  <mapping resource="model/paper.hbm.xml"/>
  <mapping resource="model/reviewschedule.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
